// Colors
$bluefly: #0f1d32;
$pinkish: #f14e53;
$white: #eee;

:root {
  --brand-white: #eee;
  --screaming-green: #55ff55;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  @include fontSize(32px);
  margin-bottom: calculateMargin(20px);
}

p {
  @include fontSize(16px);
  margin-top: 0;
  margin-bottom: calculateMargin(10px);
  line-height: 160%;
}

main {
  padding: 20px;
  background: rgba(255, 0, 255, .2);
  height: 100vh;
}

div {
  margin-bottom: calculateMargin(10px);
}