// Colors
$bluefly: #0f1d32;
$pinkish: #f14e53;
$white: #eee;

:root {
  --brand-white: #eee;
  --screaming-green: #55ff55;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 2em;
}

p {
  line-height: 150%;
}